# Virtual environment
.venv/

# FAISS index
faiss_index/

# Python cache
__pycache__/
*.py[cod]
.mypy_cache/

# Streamlit secrets
secrets.toml
.streamlit/secrets.toml

# Environment variables
.env

# VS Code settings
.vscode/
