streamlit
requests
streamlit-lottie
streamlit-timeline

langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langchain-google-genai

sentence-transformers
transformers
accelerate
faiss-cpu
protobuf
